.chatBox {
    height: 65vh;
    width: 100%;
    overflow: auto;
}
.user {

    text-align:right;
    padding-right: 20px;
}
.doc {
text-align: left;
}

.message {
    width:100%;
    display: inline-block;
    margin-bottom: 15px;
    margin-top:10px;
}
.msg_box {
    text-align: left;
    font-size: small;
    display: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 55%;
    width: fit-content;
    background-color: #f0f2f4;
}

#upload_btn {
    background-color: white;
    color:#afb4b5;
    margin-left: 1px;
}