
.upcoming {
    background: linear-gradient(to top left, #56bac8, #9bdee6);
    color: white;

}
#main {
    font-family: 'Poppins', sans-serif;
    background: #f6f8fa;
    min-height: 100vh;
}

.same_back {
    background: #f6f8fa;
    color: #000;
}

.inactive_btn {
    color: #848484;
}

.add_btn {
    color: #56bac8;
    background: white;
    height: fit-content;
}

.gray_back{
    background: linear-gradient(to top left, #b7b4bb, #cbcfd6);

}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#56bac8;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.float_chat {
    position:fixed;
    width:40vw;
    height:79vh;
    bottom:15vh;
    right:10px;
    text-align:center;
    background-color: white;
}
.my-float{
    margin-top:11px;
}

.rounded_large{
    border-radius: 1rem!important;
}


.float_profile {
    position:fixed;
    z-index: 10000 !important;
    top:10vh;
    right:10vw;
    background-color: white;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}